LEXER.INIT.INPUT.DIR=definition/lexer/input.lex
LEXER.TOKENTABLE.OUTPUT.DIR=definition/lexer/tokentable.txt
LEXER.INIT.INPUT.IGNORE=^%( *\"(.*)\" *,)*( *\"(.*)\" *)
LEXER.INIT.INPUT.IGNORE.TOKENNAME=IGNORE
LEXER.INIT.INPUT.COMMENT=^#
LEXER.INIT.INPUT.TOKENMAP=^([a-zA-Z0-9_]*)( *:= *)\"(.*)\"
LEXER.INIT.INPUT.ROWSPLIT=\n
LEXER.ERROR.CURSOR=Invalid token at 
LEXER.REGEX.STARTSYMBOL=^
LEXER.TOKENTABLE.TITLE1=\n======Tokentype lex list========================================================\n
LEXER.TOKENTABLE.TITLE2=\n======Tokens with ignorables====================================================\n






PARSER.INIT.INPUT.DIR=definition/grammar/input.gra