/*
    MAIN
*/

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

header, main, footer, .header-title {
    margin: 20px;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
    /* background-color: #f5f5f5; */
    overflow: hidden;
}

#settings, #results, #output-banner-loading {
    display: none;
}

.parssist-main {
    flex: 1;
    box-sizing: border-box;
    margin: 20px;
}

main {
    margin-top: 0px;
}






/*
    EDITOR
*/

.CodeMirror-scroll span {
    font-family: 'Courier New', Courier, monospace;
}

.cm-grammar-empty {
    color: rgb(145, 69, 66); 
    font-weight: bold;
}
.cm-grammar-comment {
    color: rgb(79, 129, 79);
}
.cm-grammar-operator {
    color: rgb(71, 103, 172);
}
.cm-grammar-non-terminal {
    color: rgb(223, 215, 103);
    font-weight: bold;
}

.cm-lexer-comment {
    color: rgb(79, 129, 79);
}
.cm-lexer-regex {
    color: rgb(196, 120, 110);
}
.cm-lexer-operator {
    color: rgb(71, 103, 172);
}
.cm-lexer-token {
    color: rgb(0, 145, 125);
    font-weight: bold;
}


main section {
    display: flex;
    flex-direction: column;
}
#editor .CodeMirror, #editor .CodeMirror-scroll {
    display: flex;
    flex-grow: 1;
}
.navigation {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2c2c2c;
    margin: 0px;
}
.file-navigation {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
}
.file-navigation button {
    padding: 10px;
    width: 150px;
    border: none;
    border-radius: 0px;
    background-color: #252525;
    margin: 0px;
}
.file-navigation button, .run-navigation div, .parser-navigation button, .parsetree-navigation button {
    cursor: pointer;
} 
.file-navigation button:hover {
    background-color: #888888;
}

.run-navigation {
    float: left;
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
}
.run-navigation button, .settings-navigation button, .parser-navigation button, .parsetree-navigation button {
    width: fit-content;
    margin: 5px;
    padding: 0px;
}
.run-navigation button img, .settings-navigation button img, .parser-navigation button img, .parsetree-navigation button img {
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.run-navigation button, .settings-navigation button, .parser-navigation button, .parsetree-navigation button {
    background-color: transparent;
}
#open-settings img:hover, #open-run img:hover, #open-download img:hover, #close-settings img:hover, #open-samples img:hover {
    width: 22px;
    height: 22px;
}
.settings-content-algorithm form, .settings-content-algorithm input, .settings-content-algorithm label, .settings-content-algorithm div {
    display: flex;
}
.settings-content-algorithm form {
    flex-direction: column;
}
.question-mark {
    width: 20px;
    height: 20px;
    margin: 0px;
    margin-left: 5px;
    padding: 0px;
    cursor: pointer;
}
.question-mark:hover {
    opacity: 0.3;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    opacity: 0.7;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 10px;
    position: absolute;
    margin-left: 50px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}






/*
    MODAL
*/
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}






/*
    OUTPUT
*/

#output {
    overflow: hidden;
    box-sizing: border-box;
}
#output-banner, #parsetree, #tokentable {
    background-color: #f5f5f5;
    height: 100%;
    text-align: center;
}
#parsetree, #generator, #tokentable {
    margin-bottom: 20px;
}
#output-banner h1 {
    color: #888888;
}
#results {
    flex-direction: column;
    overflow: scroll;
    padding: 20px;
}
#parsetree, #generator, #generator .CodeMirror, #generator .CodeMirror-scroll, #tokentable {
    flex-direction: column;
    display: flex;
}
#tokentable table {
    margin: 10px;
}
table, tr, td, caption {
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid #888888;
}
.generator-navigation {
    text-align: center;
}
.generator-navigation p {
    color: white;
    width: 100%;
    font-weight: bold;
}

#samplesChooser {
    overflow: scroll;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
#samplesChooser table, #samplesChooser tr, #samplesChooser td, #samplesChooser caption, #samplesChooser td, #samplesChooser tr {
    border: 0px;
    border-collapse: initial;
}
.samples-modal, .samples-modal table {
    width: 80%;
    margin: 0 auto;
    background-color: #f5f5f5;
    overflow: scroll;
}
.sample-option {
    margin: 50px;
    padding: 20px;
}
.sample-option:hover {
    background-color: #26047544;
    cursor: pointer;
}
#samplesChooser td, #samplesChooser .CodeMirror-scroll, #samplesChooser .CodeMirror, #samplesChooser textarea, #samplesChooser .CodeMirror-scroll span {
    width: 500px;
   
}
#samplesChooser caption {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
}
.samples-modal-title, .samples-modal-desc { 
    margin: 20px;
    text-align: center;
}