/*
    GLOBAL
*/

* {
    font-family: "stratum","Arial Narrow","Trebuchet MS",sans-serif;
}

a {
    text-decoration: none;
    color: #9E358F;
}

body {
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
}
li p {
    margin: 0;
}
li {
    margin: 20px;
}






/*
    HEADER
*/

header {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    overflow-x: hidden;
    width: 100%;
}

header h1 {
    font-size: 50px;
    letter-spacing: 3px;
    color: #2c2c2c;
}

.header-title, .header-title-element {
    display: flex;
    flex-direction: row;
}

.header-title-text {
    font-weight: bold;
    margin: 20px;
    font-size: 60px;
}

header {
    margin-bottom: 0px;
}

.main-title{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-title h1 {
    font-size: 110px !important;
    font-weight: bold;
    margin: 0;
}

.main-title img {
    margin: 20px
}

.header-title-desc {
    font-size: 20px;
    margin: 0px;
}

.get-started-section h2 {
    color: #2c2c2c;
}
.get-started-section {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}




/* 
    MAIN
*/

button {
    background-color: #5E5086;
    border: none;
    font-family: "stratum","Arial Narrow","Trebuchet MS",sans-serif;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
}
.try-it-section {
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
}
.try-it-section p {
    color: #2c2c2c;
}
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}





/*
    FOOTER
*/

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center; 
    margin: 0px;
}

footer p {
    font-size: 12px;
}